<!-- File Purpose: browse orders page. -->

<!-- 
THINGS TO DO ON THIS PAGE:

-Make search functional
-Be able to modify order status
-Post to orderedit to update details

-->

<%- include ('partials/header') %>

<p>
	This is where admins/employees only can browse open orders. Closed orders are not viewable in this way. Employees can claim an order by making a change to it before anyone else does, that assigns it to them. Admins can just change stuff. This POSTs to the cart page as well.
</p>

<br><br><hr><br><br>



		<div class="container">
				<% if(user.role === "admin"){ %>
					<div class="row">
						<div class="col-10 card rounded pt-2 mb-2">
							<form action="/overview" method="POST">
								<div class="row">
									<div class="col-5">
										<div class="mb-3">
											<label for="dina" class="form-label">Customer</label>
												<select class="form-select" name="customer" id="customer">
													<option selected>Select...</option>
													<% userdata.forEach(function(userdata){ %>
													<% if (userdata.role == 'customer'){ %><option value="<%= userdata.username %>"><%= userdata.username %></option>
													<% }}); %>
												</select>
										</div>
										<div class="mb-3">
											<label for="ione" class="form-label">Item One</label>
											<div class="input-group">
												<select class="form-select" name="item1Title" id="item1Title">
													<option selected>None</option>
													<% inventories.forEach(function(inventories){ %><option value="<%= inventories.title %>"><%= inventories.title %></option><% }); %>
												</select>
												<select class="form-select" name="item1Quantity" id="item1Quantity">
													<option selected>0</option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
												</select>
											</div>
										</div>
										<div class="mb-3">
											<label for="itwo" class="form-label">Item Two</label>
											<div class="input-group">
												<select class="form-select" name="item2Title" id="item2Title">
													<option selected>None</option>
													<% inventories.forEach(function(inventories){ %><option value="<%= inventories.title %>"><%= inventories.title %></option><% }); %>
												</select>
												<select class="form-select" name="item2Quantity" id="item2Quantity">
													<option selected>0</option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-5">
										<div class="mb-3">
											<label for="ithree" class="form-label">Item Three</label>
											<div class="input-group">
												<select class="form-select" name="item3Title" id="item3Title">
													<option selected>None</option>
													<% inventories.forEach(function(inventories){ %><option value="<%= inventories.title %>"><%= inventories.title %></option><% }); %>
												</select>
												<select class="form-select" name="item3Quantity" id="item3Quantity">
													<option selected>0</option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
												</select>
											</div>
										</div>
										<div class="mb-3">
											<label for="ifour" class="form-label">Item Four</label>
											<div class="input-group">
												<select class="form-select" name="item4Title" id="item4Title">
													<option selected>None</option>
													<% inventories.forEach(function(inventories){ %><option value="<%= inventories.title %>"><%= inventories.title %></option><% }); %>
												</select>
												<select class="form-select" name="item4Quantity" id="item4Quantity">
													<option selected>0</option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-2 h-100 text-center">
										<div class="mb-3">
											<label for="status" class="form-label">Status</label>
											<input type="status" class="form-control" name="status" id="status" placeholder="New" disabled>
										</div>
										<button type="submit" class="btn btn-success align-self-start mx-auto mt-3">Add</button>
									</div>
								</div>
							</form>
						</div>
					</div>
			<% }; %>
		</div>

<br><br><hr><br><br>

<% orders.forEach(function(orders, inventories){ %>
	<% if(orders.status != "Completed"){ %>
		<div class="row my-3">
			<div class="card border-1 rounded-1">
				<div class="row">
					<div class="col-7">
						<div class="card-body">
							<h5 class="card-title"><a href="/overview/<%= orders._id %>"><%= orders._id %></a> - <%= orders.customer %></h5>
							<p class="card-text" style="font-size:0.8rem"><%= orders.item1Title %><br/><%= orders.item2Title %><br/><%= orders.item3Title %><br/><%= orders.item4Title %><br/><%= orders.item5Title %><br/></p>
						</div>
					</div>
					<div class="col-3">
						<h5 class="card-title"><%= orders.orderTotal %><br><br><br><%= orders.status %></h5>
					</div>
					<div class="col-2 text-center h-100 py-3">
						<% if(user.role == "employee"){ %>
							<form action="/overview/<%= orders._id %>" id="/overview/<%= orders._id %>" method="POST" >
								<button class="btn btn-outline-secondary"type="submit"  name="status" id="status" value="<%= orders.status%>" form="/overview/<%= orders._id %>">Next Stage</button>
							</form>
						<% } else { %> <!--Admins only -->
							<form action="/orderedit/<%= orders._id %>" method="POST" >
								<button class="btn btn-outline-secondary"type="submit">Edit Details</button>
							</form>
						<% }; %>
					</div>
				</div>
			</div>
		</div>
	<% }; %>
<% }); %>

<%- include ('partials/footer') %>